*{
    margin: 0;
    padding: 0;
}

header{
    background-color: crimson;
    color: #fff;
}

header h2{
    font-family: sans-serif;
}

nav{
    background-color: indigo;
}

nav ul li{
    background-color: brown;
    color: #ffffff;
    list-style: none;
    padding: 2px;
    display: inline-block;
}

section{
    background-color: darkseagreen;
    color: gray;
    padding: 2em;
}

article{
    background-color: skyblue;
    color: black;
    margin: 1em;
    padding: 1em;
}